body {
    text-align: center;
    background-color: #f0e8c5;
  }

  div {
    margin-top: 15px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }

  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
  }

  #img_height {
    height: 600px;
    padding: 10px;
  }

  p {
    padding: 10px;
  }